<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <%- include('header.ejs') -%>

    <div>ejs的模板引擎</div>

    <h2><%=title%> <%=userName%></h2>
  </body>
</html>
